<div class="container">
	<div class="row-fluid">
		<div class="span12 well">
			<div id="page-title">
				How it Works Page
			</div>
			<div id="page-content">
				Coming Soon
			</div>
		</div>			
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#topnav li').removeClass('active');
	$('#topnav li:eq(1)').addClass('active');
});
</script>
